---
import ToastButton from '@components/buttons/ToastButton.tsx';
import BaseLayout from '@layouts/BaseLayout.astro';
import TestTooltip from '@components/tooltips/TestTooltip.tsx';
---

<BaseLayout title="Home Page">
	<main class="flex text-3xl text-center justify-center items-center h-screen">
		<TestTooltip client:visible>
			<ToastButton client:only="solid-js" />
		</TestTooltip>
		<img src="/static/image.svg" alt="test image" width="360px" height="360px" />
	</main>
</BaseLayout>
