---
import { Toaster } from 'solid-toast';
const { title } = Astro.props;
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Toaster client:visible />
		<slot />
	</body>
</html>
